// .data-table-wrapper {
//   .data-table-head {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 0.5rem 0.9375rem;
//     border-bottom: 1px solid var(--divider);

//     .data-table-title {
//       line-height: 1;
//       font-size: 1rem;
//     }
//   }

//   .data-table-body {
//     padding: 0.9375rem;
//     overflow: auto;

//     .data-table-top {
//       display: flex;
//       justify-content: space-between;
//       align-items: flex-end;
//       margin-bottom: 1rem;
//     }

//     input[type='search'] {
//       width: 200px;
//       border-radius: 2rem;
//     }

//     p {
//       font-size: 0.75rem;
//       color: var(--light-text-secondary);
//     }

//     .data-table {
//       table-layout: fixed;
//       border-collapse: collapse;

//       thead {
//         tr {
//           background: var(--light-secondary-a8);

//           th {
//             color: var(--light-secondary-dark, #003660);
//             font-size: 0.75rem;
//             font-weight: 500;
//             padding: 0.4375rem 0.75rem;
//             border-right: 1px solid var(--light-secondary-a16);
//             border-bottom: 1px solid var(--line);
//             position: relative;

//             &:last-child {
//               border-right: 0;
//             }

//             &.th-sorting {
//               cursor: pointer;

//               em {
//                 opacity: 0.3;
//                 position: absolute;
//                 right: 0.3rem;
//                 font-size: 1rem;
//               }

//               &:hover {
//                 em {
//                   opacity: 1;
//                 }
//               }
//             }


//           }
//         }
//       }

//       tbody {
//         tr {
//           td {
//             padding: 0.4rem 0.6rem;
//             border-right: 1px solid var(--line);
//             border-bottom: 1px solid var(--line);
//             font-size: 0.75rem;

//             &:last-child {
//               border-right: 0;
//             }

//             input[type='text'] {
//               width: 120px;
//               background-color: var(--light-surface-level-2);
//               padding: 0.3rem 0.45rem 0.25rem;
//               border-bottom: 1px solid transparent;
//               font-size: 0.75rem;
//               transition: all .2s;
//               border-radius: 0;

//               &:focus-visible {
//                 border-bottom: 1px solid var(--light-secondary-origin);
//                 outline: none;
//               }
//             }

//           }
//         }
//       }

//     }
//   }
// }

// input[type='text'], input[type='search'] {
//   background-color: var(--light-surface-level-3);
//   border-radius: 0.2rem;
//   padding: 0.32rem 0.5rem;
//   border: 0;

//   &.input-lg {
//     padding: 0.6rem 0.875rem;
//   }
// }


.content-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.content-wrap {
  background-color: #fff;
  padding: 1rem 1.2rem;
  border-radius: 0.8rem;

  .btn-wrap {
    gap: 0.7rem;
  }
}
